<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
</head>

<body bgcolor="#ff720">
    <form align="center">
        <h1>About Us</h1><br><br>
        <h2>Why HS Properties?</h2><br>
        <p>At present, HSProperties.com prides itself for having around hundred property listings spanning across
            hyderabad city in India. Of all, <br>
            the website held over 5.7 lakh paid listings at the end of FY 2018-19. In addition to providing an online
            platform to real estate developers,<br>
            brokers and property owners for listing their property for sale, purchase or rent, 99acres.com offers
            advertisement stints such as microsites,<br>
            banners, home page links and project pages to the clients for better visibility and branding in the
            market.<br>
            With the ever-evolving online search behaviour, HS Properties.com shares updated information pertinent to
            real estate activities,<br>
            assisting prospective buyers to make informed buying decision. We make online property search easier,
            quicker and smarter!</p>
    </form>
</body>

</html>