<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lingampally</title>
</head>
<body>
    <form align="center">
        <div class="container">
            <img src="../static/img/ameenpur.png" th:src="@{/img/ameenpur.png}"style="width:100px;height: 200px;">
        </div>
        <p>project name:lansum eldorado</p>
        <p>RERA NO: P2022526263</p>
        <p>Price:7500persft</p>
        <p>location:kukatpally</p>
        
    </form>
    
</body>
</html>